body{
  background: white;
  color: black;
}

.scribble{
  position: absolute;
  left: calc(50vw - 10vw);
  top: 20vh;
  max-width: 20vw;
}

.s01{
  animation: s1 5s infinite ease-in-out;
}

@keyframes s1 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.s02{
  animation: s2 9s infinite ease-in-out;
}

@keyframes s2 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.s03{
  animation: s3 1s infinite ease-in-out;
}

@keyframes s3 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


