body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.platzhalter {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  height: calc(100vh + 1000px);

}

#background-color{
  position: fixed;
  top:0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color:#fff;
  transition: 0.5s all;
}


/* TEXT BUBBBLLES */
.text {
  position: fixed;
  left: calc(50vw - 350px);
  bottom: 65vh;
  line-height: 24px;
  background: #fff;
  border: 2px solid;
  border-radius: 40px;
  padding: 24px;
  text-align: left;
  color: #000;
  min-width: 50px;
  max-width: 300px;
}

.text-left:after {
  content: "";
  position: absolute;
  border: 2px solid;
  border-left: 40px solid white;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 40px solid transparent;
  left: 30px;
  bottom: -30px;
}

.text-right {
  left: calc(50vw + 50px);
  border-radius: 0px;
  padding: 10px;
  text-align: left;
  color: #000;
  min-width: 50px;
  max-width: 300px;
}


/* BACKGROUNDS */
.background{
  position: fixed;
  width: 1000px;
  top: calc(50vh - 300px);
  left: calc(50vw - 400px);
  animation: wiggle 2s 1s infinite;
}




/* MAIN CHARACTER */

.scribble{
  position: fixed;
  left: calc(50vw - 500px);
  top: 30vh;
  max-width: 300px;
}

#wiggle{
  position: fixed;
  animation: wiggle 2s infinite;
}

@keyframes wiggle { 
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(0,0.5vh);
  }
  100%{
    transform: translate(0, 0);
  }
}

.s01{
  animation: s1 5s infinite ease-in-out;
}

@keyframes s1 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.s02{
  animation: s2 9s infinite ease-in-out;
}

@keyframes s2 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.s03{
  animation: s3 1s infinite ease-in-out;
}

@keyframes s3 { 
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


