/* --------------------------------------------------------------------------- */
/* ----------------------------- MAIN CHARACTER ------------------------------ */

/* knot behind people */
#back-wiggle {
    position: fixed;
    animation: wiggle 5s infinite ease-in-out;
    transition: margin 2s, opacity 0.4s, transform 1s;
    margin-left: 150vw;
}

#back-eye-img {
    width: 40vh;
    animation: eye-blink 10s ease-in-out infinite;
}

#back-whisper {
    position: fixed;
    transform-origin: bottom LEFT;
    transform: translate(30vh, 15vh) scale(0);
    width: 45vh;
    transition: margin 2s, opacity 0.4s;
}

.back-whisper-bubble {
    position: absolute;
    top: 0;
    max-width: 100%;
    transition: transform 1s;
}

.whisper-text {
    display: none;
    position: absolute;
    top: 0;
    margin: 5vh;
    color: black;
}

.showWhisperRight {
    transform-origin: bottom LEFT !important;
    transform: translate(30vh, -15vh) scale(1) !important;
}

.showWhisperLeft {
    transform-origin: bottom right !important;
    transform: translate(-30vh, -15vh) scale(1) !important;
}

#whisper-bubbleL {
    display: none;
}

/* positions for background knot's whispers to people */
.hideWhipserKnot {
    margin-left: 150vw !important;
    margin-top: 30vh !important;
}

.showWhisperKnotValentino {
    margin-left: 30vw !important;
    margin-top: 20vh !important;
}

.showWhisperKnotLawrence {
    margin-left: calc(50vw - 10vh) !important;
    margin-top: 28vh !important;
}


/* KNOT CHARACTER */
.knot {
    position: fixed;
    left: 0vw;
    top: 0vh;
    width: 40vh;
}

.layer1 {
    opacity: 1;
    animation: knot1 12s infinite ease-in-out;
}

.layer2 {
    opacity: 1;
    animation: knot2 25s infinite linear;
}

.layer3 {
    opacity: 0.9;
    animation: knot3 9s infinite ease-in-out;
}

.layer4 {
    opacity: 0.8;
    animation: knot4 5s infinite ease-in-out;
}

#mouseMoved {
    opacity: 1;
    transform: scale(0.5) rotate(0deg);
    transition: 0.5s ease-out;
}

.mousePaused {
    opacity: 1 !important;
    transform: scale(20) rotate(120deg) !important;
    transition: 10s ease-out !important;
}

#mouseTransparent {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    transition: 0.5s ease-out;
}

.mouseBlack {
    position: fixed;
    width: 100vw;
    height: 50vh;
    background: #0c0c0c !important;
    transition: 2s ease !important;
}

/* ANIMATION BIG TEXTS */
.huge-text {
    position: fixed;
    display: none;
    /* font-family: 'Londrina Solid', cursive; */
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 20vw;
    white-space: nowrap;
    width: 100%;
}

#wake-up-scream1 {
    top: 15vh;
    animation: screaming-knot1 0.4s infinite ease-in-out;
}

#wake-up-scream2 {
    bottom: 15vh;
    animation: screaming-knot1 0.4s infinite ease-in-out;
    animation-delay: 0.2s;
}

@keyframes screaming-knot1 {
    0% {
        transform: scale(1);
        color: #fafafa;
    }

    49% {
        transform: scale(1);
        color: #fafafa;
    }

    50% {
        transform: scale(1);
        color: #0c0c0c;
    }

    99% {
        transform: scale(1);
        color: #0c0c0c;
    }

    100% {
        transform: scale(1);
        color: #fafafa;
    }
}

#run-scream {
    display: none;
    color: var(--schwarz);
    top: 30vh;
    font-style: italic;
    animation: screaming-knot2 0.1s infinite ease-in-out;
}

@keyframes screaming-knot2 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, 20px);
    }

    50% {
        transform: translate(0, 0);
    }

    57% {
        transform: translate(10px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#looser-scream-box {
    display: none;
    background-color: var(--schwarz);
    /* padding-top: 4vw; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    white-space: nowrap;
    width: 100%;
}

h1 {
    padding-top: 3vh;
    font-size: 9vw;
}

h3 {
    margin: 10px;
    font-size: 20vw;

}

h4 {
    margin: 10px;
    font-size: 6vw;
}

h5 {
    margin: 10px;
    font-size: 10.5vw;
}

#looser-scream {
    white-space: normal;
    color: var(--weiss);
    animation: screaming-knot3 0.5s ease-in-out infinite;
}

/* BLINKING LOOSER TEXT ANIMATION */
@keyframes screaming-knot3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* SHAKING LOOSER TEXT ANIMATION */
/* @keyframes screaming-knot3 {
    0% {
        transform: translate(0,0);
    }

    20% {
        transform: translate(0,1vh);
    }

    100% {
        transform: translate(0,0vh);
    }
} */


#trumpet-container {
    display: none;
}

.trumpet {
    position: absolute;
    height: 10vh;
    left: 20vh;
    top: 20vh;
    animation: trumpet-animation 0.6s infinite ease-in-out;
}

@keyframes trumpet-animation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(20px, 0) rotate(2deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }

}


/* KNOT WIGGLE CONTAINER */
#wiggle {
    opacity: 0;
    position: fixed;
    animation: wiggle 5s infinite ease-in-out;
    transition: margin 2s, opacity 0.4s;
}

/* EYES */
#eye-img {
    width: 40vh;
    animation: eye-blink 10s ease-in-out infinite;
}

/* KNOT MOVE BC TITLE-BUTTON */
.knotStart {
    margin-left: 40vw !important;
    margin-top: 30vh !important;
}

.knotTitle {
    margin-left: 55vw !important;
    margin-top: 40vh !important;
}

/* KNOT MOVE TO INTRO-START */
.knotIntro {
    margin-left: 10vw !important;
    margin-top: 30vh !important;
}

/* KNOT ABOVE VALENTINO */
.knotValentinoObserve {
    margin-left: 80vw !important;
    margin-top: 20vh !important;
}

/* KNOT OUT OF VALENTINO SCREEN */
.knotValentinoDisappear {
    margin-left: 120vw !important;
    margin-top: 20vh !important;
}

.knotValentinoAppear {
    margin-left: 20vw !important;
    margin-top: 30vh !important;
}

.knotTrumpet {
    margin-left: 10vw !important;
    margin-top: 20vh !important;
}

.knotValentinoRunStart {
    margin-left: 0vw !important;
    margin-top: 40vh !important;
}

.knotValentinoRunMiddle {
    margin-left: -50vh !important;
    margin-top: 40vh !important;
}

.knotValentinoRunEnd {
    margin-left: 10vw !important;
    margin-top: 30vh !important;
}

.knotLawrenceBusstop {
    margin-left: 15vw !important;
    margin-top: 30vh !important;
}

.knotLawrenceBus {
    margin-left: -90vw !important;
    margin-top: 30vh !important;
}

.knotOutsideOfficeBuilding {
    margin-left: -10vh !important;
    margin-top: 50vh !important;
}

.knotWaitingroom {
    margin-left: 20vw !important;
    margin-top: 50vh !important;
}

.knotWaitingroom-AfterLasso {
    margin-left: -20vh !important;
    margin-top: 30vh !important;
}

.knotWaitingChair {
    margin-left: 65vh !important;
    margin-top: 30vh !important;
}

.knotOfficeMercy {
    margin-left: 10vw !important;
    margin-top: 30vh !important;
}

.knotOfficeLookingAround1 {
    margin-left: 50vw !important;
    margin-top: 10vh !important;
}

.knotOfficeLookingAround2 {
    margin-left: 20vw !important;
    margin-top: 10vh !important;
}

.knotOfficeStopLooking {
    margin-left: 10vw !important;
    margin-top: 50vh !important;
}

.knotMercyBar1 {
    margin-left: 10vh !important;
    margin-top: -5vh !important;

}

.knotBarAway {
    margin-left: -50vh !important;
    margin-top: 10vh !important;
}

.knotBarSiesta {
    margin-left: calc(100vw - 60vh) !important;
    margin-top: 35vh !important;
}

.knotBarHappyHour {
    margin-left: 10vw !important;
    margin-top: 35vh !important;
}

.knotLastScene {
    margin-left: 30vh !important;
    margin-top: 150vh !important;
}

/* ------ MAIN CHARACTER TEXT------------------------------ */

#knot-talking-right {
    position: fixed;
    top: 0vh;
    left: 30vw;
    transform-origin: left bottom;
    transform: scale(0);
    transition: transform 1s;
}

#knot-narration {
    position: fixed;
    top: 0vh;
    left: 0vw;
    transform-origin: right bottom;
    transform: scale(1);
    transition: transform 1s;
}

.bubbleGrow {
    transform: scale(1) !important;
}

/* BOX FÜR SPEECHBUBBLE-TEXT */
.phrase-intro {
    position: absolute;
    top: 0;
    width: 40vw;
    max-height: 15vh;
    padding-top: 6vh;
    padding-left: 5vh;
    color: var(--schwarz);
}

.phrase-right {
    position: absolute;
    top: 0;
    width: 60vw;
    padding-top: 6vh;
    padding-left: 20vw;
    color: var(--schwarz);
}

.phrase-left {
    position: absolute;
    top: 0;
    width: 60vw;
    padding-top: 6vh;
    padding-left: 20vw;
    color: var(--schwarz);
}

.phrase-bar {
    width: calc(60vw - 30vh) !important;
    padding-left: calc(30vh + 20vw) !important;
}


.hide {
    opacity: 0 !important;
}

.show {
    opacity: 1 !important;
}


/* Single Sentences */
.phrase {
    display: none;
}


#phrase5 {
    color: var(--weiss);
}

#phrase9 {
    /* background-color: #fafafa; */
    width: 20vw;
}



/* ------ MAIN CHARACTER CONSTANT ANIMATIONS ------------------------------ */

@keyframes eye-blink {
    0% {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(1);
    }

    96% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* KNOT LAYERS ANIMATIONS */
@keyframes knot1 {
    0% {
        transform: rotate(0deg) scale(1) translate(0px, 0);
    }

    50% {
        transform: rotate(5deg) scale(1.2) translate(0px, -5px);
    }

    100% {
        transform: rotate(0deg) scale(1) translate(0px, 0);
    }
}

@keyframes knot2 {
    0% {
        transform: scaleX(1) scaleY(1) rotate(0deg);
    }

    50% {
        transform: scaleX(1.1) scaleY(1.2) rotate(180deg);
    }

    100% {
        transform: scaleX(1) scaleY(1) rotate(360deg);
    }
}


@keyframes knot3 {
    0% {
        transform: rotate(0deg) scaleY(1) translate(5px, 0px);
    }

    50% {
        transform: rotate(-10deg) scaleY(1.3) translate(0px, -5px);
    }

    100% {
        transform: rotate(0deg) scaleY(1) translate(5px, 0px);
        ;
    }
}


@keyframes knot4 {
    0% {
        transform: scale(1.1) rotate(0deg) translate(0px, 0px);
    }

    50% {
        transform: scale(1.2) rotate(-10deg) translate(0px, 10px);
    }

    100% {
        transform: scale(1.1) rotate(0deg) translate(0px, 0px);
    }
}