/* INFO ICON LAWRENCE */
#lawrence-info {
    position: absolute;
    height: 5vh;
    top: calc(10000px + 18vh);
    left: calc(400vw - 30vw - 7vh);
    animation: info-icon 1.5s infinite ease-in-out;
}

@keyframes info-icon {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}


/* LAWRENCE */
#lawrence {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(200,0,0,0.8); */
}

/* SCENE WITH VALENTINO */
#lawrence-at-busstop {
    max-height: 30%;
    top: 25vh;
    right: 30vw;
}

#bus-stop {
    top: 20vh;
    max-height: 30%;
    right: 20vh;
}

/* SCENE AFTER VALENTINO (AFTER ID-CARD) */
.lawrence-at-busstop-2 {
    position: fixed;
    max-height: 30%;
    top: 25vh;
    right: 30vw;
}

#bus-stop-2 {
    position: fixed;
    top: 20vh;
    max-height: 30%;
    right: 20vh;
}

/* INSIDE BUS */
.lawrence-in-bus {
    position: fixed;
    max-height: 50vh;
    top: 30vh;
    left: calc(50vw - 40vh);
}

#bus-inside {
    display: none;
    position: fixed;
    left: calc(50vw - 30vh);
    top: 25vh;
    height: 50vh;
    animation: bus-shake 2s 0.9s ease-in-out infinite;
}

/* bus outside */
#bus-outside {
    display: none;
    opacity: 1;
    position: fixed;
    top: calc(50vh - 50vw);
    left: -5vw;
    width: 110%;
    transition: all 1s;
    animation: bus-shake 2s ease-in-out infinite;
}

@keyframes bus-shake {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

.busOutsideAway {
    top: calc(50vh - 240vw) !important;
    left: -200vw !important;
    width: 500% !important;
    opacity: 0 !important;
}

/* MOTIVATIONAL QUOTES */
#motivational-quotes {
    display: none;
    position: fixed;
    top: 17vh;
    left: 60vw;
    width: 20vh;
}

.motQuote {
    position: relative;
    height: 22vh;
    width: 43vh;
}

.motImage {
    height: 100%;
}

.motivational-X-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 5vh;
    height: 5vh;
}

.motivational-X-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 5vh;
}

/* LAWRENCE WALKING TO BUILDING */
.lawrence-walking-inside {
    position: fixed;
    max-height: 40vh;
    top: 50vh;
    left: 50vw;
}

#office-building {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 60vh;
}

/* LAWRENCE FALLING BEFORE MEETING */
#waiting-room-1 {
    display: none;
    position: fixed;
    top: 20vh;
    height: 55vh;
}

#waiting-room-2 {
    display: none;
    position: fixed;
    top: 20vh;
    height: 55vh;
}

#door-div-waitingroom {
    display: none;
    position: fixed;
    left: 28vh;
    top: 25vh;
    height: 43vh;
    width: 25vh;
}

/* CLOCK */
.clock-waitingroom {
    position: fixed;
    top: 25vh;
    left: 80vh;
    height: 6vh;
    display: none;
}

.lawrence-fall {
    position: fixed;
    max-height: 40%;
    top: 35vh;
    left: 60vw;
    transition: transform 0.2s;
}

#lawrence-4a:hover {
    transform: rotate(1deg);
}

#knotLasso {
    display: none;
    position: fixed;
    top: 65vh;
    left: 30vw;
    height: 5vw;
    width: calc(30vw + 5vh);
    /* background-color: red; */
}

.knotLassoPath {
    stroke: var(--schwarz);
    stroke-width: 1%;
    stroke-linecap: round;
    /* filter:drop-shadow(2px 2px 1px black); */
    fill: none;
    stroke-dasharray: calc(30vw + 30vh);
    stroke-dashoffset: calc(30vw + 30vh);
    /* stroke-dashoffset: calc(35vw + 10vh); */
    transition: stroke-dashoffset 0.5s;
}

.knotLassoCatch {
    stroke-dashoffset: 0;
}

#sleep-gif {
    position: fixed;
    display: none;
    height: 20vh;
    top: 20vh;
    left: 45vw;
}



/* LAWRENCE AFTER MEETING */
.lawrence-after-meeting {
    position: fixed;
    max-height: 40vh;
    top: 40vh;
    left: 40vh;
    animation: lawrence-walk-of-shame 4s ease-in-out forwards;
}

@keyframes lawrence-walk-of-shame {
    0% {
        left: 40vh;
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    50% {
        left: calc(40vh + 50vw);
        opacity: 0;
    }

    100% {
        left: calc(40vh + 50vw);
        opacity: 0;
    }
}


/* make lawrenci invisible */
#lawrence-1 {
    display: block;
}

#lawrence-2a {
    display: none;
}

#lawrence-2b {
    display: none;
}

#lawrence-2c {
    display: none;
}

#lawrence-2d {
    display: none;
}

#lawrence-3 {
    display: none;
}

#lawrence-4a {
    display: none;
}

/* falling lawrence */
#lawrence-4b {
    display: none;
    transform-origin: bottom;
    animation: falling-lawrence 1.5s forwards ease-in-out;
}

@keyframes falling-lawrence {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(50deg);
    }
}

#lawrence-4c {
    display: none;
    transform-origin: bottom;
    transform: scale(0.65) translate(0vh, 10vh);
}

#lawrence-4d {
    display: none;
}

#lawrence-5 {
    display: none;
}