/* INFO ICON LAWRENCE */
#lawrence-info {
    position: absolute;
    height: 5vh;
    top: calc(10000px + 18vh);
    left: calc(400vw - 30vw - 7vh);
}


/* LAWRENCE */
#lawrence {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(200,0,0,0.8); */
}

/* SCENE WITH VALENTINO */
#lawrence-at-busstop {
    max-height: 30%;
    top: 25vh;
    right: 30vw;
}

#bus-stop {
    top: 20vh;
    max-height: 30%;
    right: 20vh;
}

/* SCENE AFTER VALENTINO (AFTER ID-CARD) */
.lawrence-at-busstop-2 {
    position: fixed;
    max-height: 30%;
    top: 25vh;
    right: 30vw;
}

#bus-stop-2 {
    position: fixed;
    top: 20vh;
    max-height: 30%;
    right: 20vh;
}

/* INSIDE BUS */
.lawrence-in-bus {
    position: fixed;
    max-height: 50vh;
    top: 30vh;
    left: 40vw;
}

#bus-inside {
    display: none;
    position: fixed;
    left: 10vw;
    top: 25vh;
    height: 50vh;
}

/* bus outside */
#bus-outside {
    display: none;
    position: fixed;
    top: calc(40vh - 45vw);
    left: 0;
    width: 100%;
}

.busOutsideAway {
    display: none !important;
}

#motivational-quotes {
    display: none;
    position: fixed;
    top: 50vh;
    left: 50vw;
}

.motQuote {
    height: 10vh;
}

/* LAWRENCE WALKING TO BUILDING */
.lawrence-walking-inside {
    position: fixed;
    max-height: 40vh;
    top: 50vh;
    left: 50vw;
}

#office-building {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 60vh;
}

/* LAWRENCE FALLING BEFORE MEETING */
#waiting-room-1 {
    display: none;
    position: fixed;
    top: 20vh;
    height: 55vh;
}

#waiting-room-2 {
    display: none;
    position: fixed;
    top: 20vh;
    height: 55vh;
}

/* CLOCK */
.clock-waitingroom{
    position: fixed;
    top: 25vh;
    left: 80vh;
    height: 6vh;
    display: none;
}

.lawrence-fall {
    position: fixed;
    max-height: 40%;
    top: 35vh;
    left: 60vw;
}

#lawrence-4c {
    transform-origin: bottom;
    transform: scale(0.65) translate(-20vw, 0);
}

#knotLasso {
    display: none;
    position: fixed;
    top: 10vh;
    left: 20vh;
    height: calc(20vw - 3vh);
    width: calc(50vw - 5vh);
    /* background-color: red; */
}

.knotLassoPath {
    stroke: var(--schwarz);
    stroke-width: 0.5%;
    stroke-linecap: round;
    /* filter:drop-shadow(2px 2px 1px black); */
    fill: none;
    stroke-dasharray: 120vw;
    stroke-dashoffset: 90vw;
    transition: stroke-dashoffset 1s;
}

.knotLassoPath:hover {
    stroke-dashoffset: 0vw;
}

.knotLassoCatch {
    stroke-dashoffset: 0vw !important;
}



/* LAWRENCE AFTER MEETING */
.lawrence-after-meeting {
    position: fixed;
    max-height: 30%;
    top: 25vh;
    left: 0;
}


/* make lawrenci invisible */
#lawrence-1 {
    display: block;
}

#lawrence-2a {
    display: none;
}

#lawrence-2b {
    display: none;
}

#lawrence-2c {
    display: none;
}

#lawrence-2d {
    display: none;
}

#lawrence-3 {
    display: none;
}

#lawrence-4a {
    display: none;
}

#lawrence-4b {
    display: none;
}

#lawrence-4c {
    display: none;
}

#lawrence-4d {
    display: none;
}

#lawrence-5 {
    display: none;
}