/* mercy box */
#mercy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* mercy at door */
.mercy-welcoming {
    position: absolute;
    height: 40vh;
    top: 32vh;
    left: 25vh;
}

#wtf-gif {
    position: absolute;
    display: none;
    height: 15vh;
    top: 18vh;
    left: 23vh;
}

.mercy-entering {
    position: absolute;
    height: 40vh;
    top: 32vh;
    left: 30vh;
}

/* mercy at desk */
.mercy-sitting {
    position: absolute;
    height: 40vh;
    top: 50vh;
    left: calc(40vw - 30vh);
}

#info-icon-mercy {
    display: none;
    position: fixed;
    top: 43vh;
    left: calc(40vw + 27vh);
    height: 5vh;
    animation: info-icon 1.5s infinite ease-in-out;
}

@keyframes info-icon {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* TO DO LIST */
#todo-mercy-box {
    display: none;
    position: absolute;
    top: 20vh;
    left: calc(35vw + 65vh);
    width: 38vh;
}

.todo-mercy {
    position: relative;
    height: 10vh;
    transition: transform 0.8s ease;
}

#list-title {
    height: 15vh;
    margin-left: 8vh;
    margin-right: 9vh;
}

.list-title-floor {
    transform: translate(5vw, 54vh) rotate(50deg) !important;
}

.todo1-floor {
    transform: translate(-1vw, 47vh) rotate(30deg) !important;
}

.todo2-floor {
    transform: translate(2vw, 46vh) rotate(-20deg) !important;
}

.todo3-floor {
    transform: translate(0, 47vh) rotate(10deg) !important;
}

.todo4-floor {
    transform: translate(2vw, 36vh) rotate(-90deg) !important;
}

.todo5-floor {
    transform: translate(5vw, 39vh) rotate(-30deg) !important;
}

.todo6-floor {
    transform: translate(5vh, 38vh) rotate(90deg) !important;
}

.todo7-floor {
    transform: translate(2vh, 30vh) rotate(50deg) !important;
}

/* MAIL NOTIFICATIONS */
#mail-mercy-box {
    display: none;
    position: absolute;
    top: 15vh;
    left: calc(25vw + 40vh);
    width: 10vh;
}

.mail-mercy {
    position: relative;
    height: 12vh;
    transition: transform 1s ease;
}

#mail1 {
    display: none;
    transition: transform 1s ease;
}

.mail1-floor {
    transform: translate(0, 12vh) rotate(20deg) !important;
}

#mail2 {
    display: none;
}

.mail2-floor {
    transform: translate(3vw, 25vh) rotate(-30deg) !important;
}

#mail3 {
    display: none;
    transition: transform 0.7s ease;
}

.mail3-floor {
    transform: translate(2vw, 37vh) rotate(20deg) !important;
}

#mail4 {
    display: none;
}

.mail4-floor {
    transform: translate(3vw, 55vh) rotate(5deg) !important;
}

#mail5 {
    display: none;
    transition: transform 0.7s ease;
}

.mail5-floor {
    transform: translate(1vw, 60vh) rotate(-180deg) !important;
}

#window-fix {
    display: none;
    position: fixed;
    width: 100%;
    top: 20vh;
    margin-left: 15vw;
    height: 30vh;
    touch-action: none;
}

#window-move {
    display: none;
    position: fixed;
    width: 100%;
    top: 20vh;
    margin-left: 15vw;
    height: 30vh;
    touch-action: none;
}

.window1 {
    height: 30vh;
    touch-action: none;
    user-select: none;
    position: relative;
}

.open-me {
    position: relative;
    left: 22vh;
}

#drag-gif {
    position: fixed;
    display: none;
    top: 15vh;
    margin-left: 33vw;
    height: 3vh;

}

/* BAR SCENE  */
.mercy-bar {
    position: absolute;
    height: 45vh;
    top: 38vh;
    right: 61vh;
}

/* make mercies invisible */
#mercy-1a {
    display: none;
}

#mercy-1b {
    display: none;
}

#mercy-2 {
    display: none;
}

#mercy-3a {
    display: none;
}

#mercy-3b {
    display: none;
}

#mercy-3c {
    display: none;
}

#mercy-3d {
    display: none;
}

#mercy-3d-mess {
    display: none;
    height: 15vh;
    top: 80vh;
    transform: translate(-20vh, 0);
}

#mercy-4 {
    display: none;
    right: 80vw;
}

#mercy-5a {
    display: none;
}

#mercy-5b {
    display: none;
}

#mercy-5c {
    display: none;
    right: 75vh;
    transition: transform 2s ease-out;
}

#scribble-gif {
    display: none;
    height: 18vh;
    top: 20vh;
    right: 83vh;
    transition: transform 2s ease-out;
}


.mercy-5c-away {
    transform: translate(-100vw, 0) !important;
}