#mercy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.mercy-welcoming {
    position: absolute;
    height: 40vh;
    top: 32vh;
    left: 25vh;
}

.mercy-entering {
    position: absolute;
    height: 40vh;
    top: 32vh;
    left: 30vh;
}

.mercy-sitting {
    position: absolute;
    height: 40vh;
    top: 50vh;
    left: calc(50vw - 30vh);
}

#info-icon-mercy {
    display: none;
    position: fixed;
    top: 45vh;
    left: calc(50vw + 20vh);
    height: 5vh;
    animation: info-icon 1.5s infinite ease-in-out;
}

@keyframes info-icon {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

.mercy-bar {
    position: absolute;
    height: 40vh;
    top: 30vh;
    left: 20vw;
}



#window-fix {
    display: none;
    position: fixed;
    width: 100%;
    top: 20vh;
    margin-left: 30vw;
    height: 30vh;
    touch-action: none;
}

#window-move {
    display: none;
    position: fixed;
    width: 100%;
    top: 20vh;
    margin-left: 30vw;
    height: 30vh;
    touch-action: none;
}

.window1 {
    height: 30vh;
    touch-action: none;
    user-select: none;
    position: relative;
}

.open-me {
    position: relative;
    left: 22vh;
}

/* make mercies invisible */
#mercy-1a {
    display: block;
}

#mercy-1b {
    display: none;
}

#mercy-2 {
    display: none;
}

#mercy-3a {
    display: none;
}

#mercy-3b {
    display: none;
}

#mercy-3c {
    display: none;
}

#mercy-3d {
    display: none;
}

#mercy-3d-mess {
    display: none;
    height: 15vh;
    top: 85vh;
}

#mercy-4 {
    display: none;
}

#mercy-5a {
    display: none;
}

#mercy-5b {
    display: none;
}

#mercy-5c {
    display: none;
    top: 25vh;
    height: 50vh;
}