/* stuff to put at the bottom */

.textWhite {
  color: var(--weiss) !important;
}

/* ALL BARBARA ASSETS */
#barbara {
  display: none;
  opacity: 1;
}

/* ALL BARBARAS */
.barbara-bar {
  position: fixed;
  top: 35vh;
  right: -10vh;
  height: 45vh;
}

/* INFO ICON */
#info-icon-barbara{
  position: fixed;
  top: 30vh;
  right: 43.5vh;
  height: 5vh;
  animation: info-icon 2s infinite;
}

#bar-chairs{
  position: fixed;
  top: 65vh;
  right: 10vh;
  height: 25vh;
}

#sandwich-bag{
  position: fixed;
  top: 46vh;
  right: 50vh;
  height: 10vh;
}

#coffee{
  position: fixed;
  top: 50vh;
  right: 60vh;
  height: 6vh;
}



/* HAPPY HOUR SIGN */
#bar-sign-container {
  position: fixed;
  left: -2vh;
  top: 5vh;
  height: 20vh;
}

.bar-sign {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.bar-sign-button {
  position: absolute;
  top: 2.5vh;
  left: 5vh;
  height: 6vh;
}


#happy-hour-gif {
  display: none;
  position: absolute;
  left: 12vh;
  top: 2.5vh;
  height: 15vh;
}

#sign-button-on{
  display: none;
}




/* make barbies invisible */
#barbara-1{
  display: none;
}

#barbara-2{
  display: none;
}

#barbara-3{
  display: none;
}

#barbara-4{
  display: none;
}

#barbara-5{
  display: none;
}

#barbara-6a{
  display: none;
}

#barbara-6b{
  display: none;
}

#barbara-7{
  display: none;
}

#barbara-8{
  display: none;
}

#barbara-9{
  display: none;
}

#barbara-10a{
  display: none;
}

#barbara-10b{
  display: none;
}

#barbara-10c{
  display: none;
}

#barbara-10d{
  display: none;
}
