/* CALL TO ACTION --------------------------------- */
#call-to-action {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: auto;
    background-color: var(--schwarz);
}

/* GLITCH ----------- */
#glitch-stress-formular {
    position: absolute;
    top: 0;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: calc(50vw + 350px);
    /* background-color: rgba(26, 26, 26, 0.95); */
    width: 40vw;
    height: 100vh;
}

#hide-glitch-stuff {
    position: absolute;
    top: calc(90vh - 50px);
    left: calc(10vw + 1px);
    height: 48px;
    width: calc(45vw - 5px);
    opacity: 0.9;
    border-radius: 0.5vh;
    background-color: var(--schwarz);
}

#outro3 {
    position: absolute;
    left: 40vw;
    width: 30vw;
    top: 40vh;
}

#show-formular-button {
    position: absolute;
    text-align: center;
    left: 45vw;
    padding: 1vh;
    top: 8vh;
    width: 10vw;
}

#hide-formular-button {
    display: none;
    position: fixed;
    text-align: center;
    padding: 1vh;
    left: 45vw;
    top: 8vh;
    width: 10vw;
}

/* ANSWERS GRID!! ----------- */
#comment-title1 {
    position: relative;
    left: 0;
    font-size: 5vh;
    width: 80%;
    margin-top: 110vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

#comment-title2 {
    position: relative;
    width: 80%;
    left: 0;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 10vw;
}

.comment-grid {
    position: relative;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 10px;
    /* GRID TEMPLATE */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 3vh;
}

.comment {
    position: relative;
    line-height: 3.7vh;
    font-family: 'Lilita One';
    font-size: 2vh;
    padding: 3vh;
    color: var(--schwarz);
    background-color: var(--weiss);
    border-radius: 5px;
}

b {
    font-family: 'architects daughter';
    line-height: 3vh;
    text-align: left !important;
    font-size: 2.5vh;
}

.name {
    position: absolute;
    color: #c4c4c4;
    font-family: 'lilita one';
    text-align: right;
    line-height: 2vh;
    width: 85%;
    height: auto;
    right: 0;
    bottom: 0;
    padding: 3vh;
    font-size: 2vh;
}

#comment1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 2;
    background-color: #0c0c0c;
    color: var(--weiss);
}

#comment-footer {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 30vh;
    height: 10vh;
}

#footer-icon {
    position: absolute;
    left: calc(50vw - 2.5vh);
    height: 5vh;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}


#start-again {
    position: absolute;
    top: 1.5vh;
    padding-top: 10px;
    left: 10vh;
    height: auto;
    width: 100%;
    text-align: left;
    background-color: var(--schwarz);
    font-size: 2vh;
    text-decoration: none !important;
}

a {
    text-decoration: none;
}