body {
  font-family: sans-serif;
  display: flex;
  /* background: #1A1A1A; */
  /* overflow-Y: hidden; */
  color: rgb(250, 250, 250);
  height: 2000vh;
}


/* TITLE PAGE */
#title-container {
  position: fixed;
  top: 0;
  background: #1A1A1A;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 3em;
  transition: 0.1s all;
}

#title {
  position: relative;
  color: rgb(46, 46, 46);
  top: 40%;
}

.title-text{
  position: absolute;
  top:0;
  left: 20vw;
}

#title-button {
  position: fixed;
  cursor: pointer;
  top: 10%;
  left: 10%;
  color: #1A1A1A;
}

.off, .on{
  height: 70px;
}


/*
-------------SPOTLIGHT
*/

/* :root {
  --spotlightColor: rgb(26, 26, 26);
  --spotlightSize: 150px;
  --spotlightTransparent: 100px;
}



#spotlight {
  z-index: 5;
  position: absolute;
  background-image: radial-gradient(
    circle at 20% 20%,
    transparent var(--spotlightTransparent),
    var(--spotlightColor) var(--spotlightSize)
  );
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
} */

/* MAIN CHARACTER */
.scribble {
  position: fixed;
  left: 60vw;
  top: 20vh;
  max-width: 30vh;
}

#wiggle {
  position: fixed;
  animation: wiggle 2s infinite;
}

#eye-img {
  width: 30vh;
  animation: blink 10s infinite;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(1);
  }

  96% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}


@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 0.5vh);
  }

  100% {
    transform: translate(0, 0);
  }
}


.s01 {
  /* opacity: 0.9; */
  animation: s1 5s infinite ease-in-out;
}

@keyframes s1 {
  0% {
    transform: rotate(0deg) scale(1.5);
    top: 20vh;

  }

  50% {
    transform: rotate(10deg) scale(1.7);
    top: 16vh;
  }

  100% {
    transform: rotate(0deg) scale(1.5);
    top: 20vh;
  }
}

.s02 {
  /* opacity: 0.9; */
  animation: s2 9s infinite ease-in-out;
}

@keyframes s2 {
  0% {
    transform: rotate(0deg) scale(1.7);
    top: 20vh;
  }

  50% {
    transform: rotate(-30deg) scale(2);
    top: 16vh;
  }

  100% {
    transform: rotate(0deg) scale(1.7);
    top: 20vh;
  }
}

.s03 {
  opacity: 0.9;
  animation: s3 1s infinite ease-in-out;
}

@keyframes s3 {
  0% {
    transform: rotate(0deg) scale(1.5);
  }

  50% {
    transform: rotate(-2deg) scale(1.5);
  }

  100% {
    transform: rotate(0deg) scale(1.5);
  }
}


.s04 {
  opacity: 0.8;
  animation: s4 20s infinite ease-in-out;
}

@keyframes s4 {
  0% {
    transform: rotate(0deg) scaleX(1.5) scaleY(1);
  }

  50% {
    transform: rotate(180deg) scaleX(1) scaleY(1.5);
  }

  100% {
    transform: rotate(360deg) scaleX(1.5) scaleY(1);
  }
}

/* 
.eyes {
  animation: close-open-eyes 10s infinite;
}

@keyframes close-open-eyes {
  0% {
    max-height: 100%;
  }

  90% {
    max-height: 0%;
  }

  99% {
    max-height: 100%;
  }

  100% {
    max-height: 100%;
  }
} */



/* TEXT BUBBBLES */
.text {
  position: fixed;
  left: calc(50vw - 400px);
  top: calc(50vh - 200px);
  line-height: 24px;
  background: #fff;
  border: 2px solid;
  border-radius: 40px;
  padding: 24px;
  text-align: left;
  color: #000;
  min-width: 50px;
  max-width: 300px;
}

.text-left:after {
  content: "";
  position: absolute;
  border: 2px solid;
  border-left: 40px solid white;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 40px solid transparent;
  left: 30px;
  bottom: -30px;
}

/* #phrase2, #phrase3, #phrase4{
  opacity: 0;
} */