/* FONTS ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
  font-family: 'Providence';
  src: url('Providence-Sans.otf');
}

/* GLOBAL COLORS */
:root {
  --weiss: #FAFAFA;
  --schwarz: #0C0C0C;
}

body {
  white-space: normal;
  font-family: 'Architects Daughter', cursive;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Providence', cursive; */
  text-transform: uppercase;
  /* font-weight: 400; */
  font-size: 16px;
  display: flex;
  /* text-align: center; */
  background-color: var(--schwarz);
  color: var(--weiss);
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 200vh;
}

/* MOUSE CURSORS ------- */
#body {
  cursor: url('cursor1.png'), auto;
}

.button:hover {
  cursor: url('cursor2.png'), pointer;
}

.id {
  cursor: url('cursor2.png'), pointer;
}

/* NORMAL FONT */
p {
  font-size: 3vh;
  font-weight: 400;
  line-height: 3vh;
}

/* "click-anywhere" */
click-text {
  text-transform: uppercase;
  font-size: 2vh;
}


/* HOME BUTTON */

#home-button {
  position: fixed;
  right: 0;
  margin-top: -100px;
  margin-right: 1vh;
  max-width: 5vh;
  max-height: 5vh;
  transition: margin-top 0.5s;
}

.showHome {
  margin-top: 1vh !important;
}

/* -------------------------------- ALL CONTENT -------------------------------- */

#all {
  opacity: 0;
}

#navigation {
  color: grey;
  position: fixed;
  opacity: 0.5;
  bottom: 0;
  left: 0;
}


/* -------------------------------- PROGRESS BAR -------------------------------- */
#progress {
  height: 5px;
  background: #fafafa;
  position: fixed;
  left: 25%;
  top: 50%;
  opacity: 1;
  z-index: 2;
  transition: width 0.1s ease;
}

.fadeOut {
  opacity: 0 !important;
  transition: opacity 2s;
}

.fadeIn {
  opacity: 1 !important;
  transition: opacity 1s 1.5s;
}

/* -------------------------------- SCRIBBLE BACKGROUND -------------------------------- */
#light-texture {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 1900px;
  height: 100vh;
}

/* -------------------------------- TITLE PAGE -------------------------------- */
/* TITLE PAGE */
#title-container {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  text-align: center;
  transition: margin-top 0.5s 0.1s ease, opacity 0.4s;
}

/* DDEN WORRIES */
#title-text {
  position: absolute;
  top: 25%;
  left: calc(25vw - 10vh);
  width: 60vh;
}

/* HI CONTAINER */
#title-button-container {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  transition: margin-top 1s ease, opacity 0.4s;
}

/* "HI" */
#title-button {
  position: absolute;
  top: 21.5%;
  height: 15.5vh;
  left: 26vw;
  color: var(--schwarz);
  transition: transform 0.5s, opacity 0.4s, all 1s;
}

#title-button:hover {
  transform: scale(1.1) translate(-10px, -5px) rotate(-1deg);
  transition: 0.5s;
}

/* "Hi" SPEECHBUBBLE ANIMATION AT BEGINNING */
.hi-animation {
  margin-left: 20vw !important;
  margin-top: 25vh !important;
  height: 0vh !important;
}

/* SCROLL ARROW */
#scroll-icon {
  position: fixed;
  opacity: 1;
  bottom: 5vh;
  left: 48vw;
  width: 3vh;
  transition: opacity 1s;
  animation: scroll 1.5s infinite ease-in-out;
}

@keyframes scroll {
  0% {
    bottom: 5vh;
  }

  50% {
    bottom: 6vh;
  }

  100% {
    bottom: 5vh;
  }
}

.scroll-icon-after {
  opacity: 0 !important;
}

/* TITLE DARK BACKGROUND ---- */
#title-dark {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: var(--schwarz);
  transition: opacity 0.4s ease-in-out;
}



/* HIDE DARK THEME */
.titleBright {
  opacity: 0 !important;
}

/* TITLE GOES UP ON SCROLL */
.titleUp {
  margin-top: -110vh !important;
}

.ropeUp {
  margin-top: -110vh !important;
}


/* ABOUT -------------------------------- */
.about-menu {
  position: absolute;
  left: calc(100vw - 7rem);
  margin-right: 1rem;
  top: 20px;
  width: 3rem;
  text-align: left;
  font-size: 1.5rem;
  color: grey;
  transition: opacity 1s, transform 0.1s;
}

.about-menu:hover {
  transform: scale(1.05);
}

#about-content {
  display: none;
  position: fixed;
  padding-top: 15vh;
  opacity: 0;
  top: 0;
  left: 0;
  height: 85vh;
  width: 100%;
  color: var(--white);
  background-color: var(--schwarz);
  transition: opacity 0.4s;
}

.whiteAbout {
  color: var(--schwarz) !important;
  background-color: var(--weiss) !important;
}

#about-eyes {
  width: 70px;
}

.showAbout {
  opacity: 1 !important;
}


/* -------------------------------- SPOTLIGHT -------------------------------- */

:root {
  --spotlightColor: var(--schwarz);
  --spotlightSize: 150px;
  --spotlightTransparent: var(--spotlightSize);
}

#spotlight {
  display: none;
  position: fixed;
  background-image: radial-gradient(circle at -20% -20%,
      transparent var(--spotlightTransparent),
      var(--spotlightColor) var(--spotlightSize));
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}


/* -------------------------------- BUTTONS -------------------------------- */

/* INTRO: YES & NO, BUTTON CONTAINER */
#help-button {
  display: none;
}

/* INTRO: YES & NO BUTTON */
.help-button {
  POSITION: FIXED;
  bottom: 0;
  margin-bottom: -30vh;
  left: calc(23vw + 30vh);
  width: 15vh;
  transition: margin-bottom 1s 0.5s ease, margin-left 0.2s, transform 0.2s;
}

#help-no {
  left: calc(23vw + 50vh);
  transition: margin-bottom 1s 0.5s ease, margin-left 0.4s, transform 0.2s, opacity 0.15s;
}

#help-no:hover {
  transform: scale(1);
  opacity: 0;
}

.help-button:hover {
  transform: scale(1.2);
}

/* INTRO-BUTTON TRANSITION */
.helpUp {
  margin-bottom: 20vh;
}


/* ------------------------------------------------------------------------------------------ */
/* ---- STORIES ----------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

#asset-container {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
}

.asset {
  max-height: 100%;
}

/* ENTER STORY */
#enter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 40vh;
}



/* ----------------------------------------------- */
/* OVERLAYS */

#one-hour-later {
  display: none;
  position: fixed;
  top: 0;
  padding-top: 40vh;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s;
  background-color: var(--schwarz);
  text-align: center;
  /* justify-content: center; */
}

/* ----------------------------------------------- */
/* IDS OF CHARACTERS ----------------------------- */

/* BACKGROUND BLUR NOCH EINFÜGEN WIE: https://codepen.io/tutsplus/pen/zymXoy */



.id-picture {
  max-width: 100%;
  position: fixed;
  top: calc(50vh - 15vw);
  left: 30vw;
  width: 40vw;
}

.id-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--schwarz);
  opacity: 0.8;
}

.id-blur-bright {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--weiss);
  opacity: 0.8;
}

#id-valentino {
  display: none;
}

#id-lawrence {
  display: none;
}

#id-mercy {
  display: none;
}

#id-barbara {
  display: none;
}



/* ----------------------------------------------- */
/* ------------ TEXT ----------------------------- */

#storytext {
  display: none;
  position: fixed;
  width: 500px;
  left: calc(23vw + 30vh - 100PX);
  top: calc(20vh - 50PX);
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform 0.5s;
}


/* stuff to put at the bottom */

.textWhite {
  color: var(--weiss) !important;
}

/* ------------- OVERLAY FOR SMARTPHONE USERS -------------------- */
#desktop-only {
  display: none;
}

@media only screen and (max-width: 500px) {
  #desktop-only {
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 40vh;
    height: 100vh;
    width: 100%;
    background-color: var(--schwarz);
    color: var(--weiss);
  }
}